
<h1> Create a House </h1>

<%= form_for @house do |f| %>
  <p>
    <%= f.label :house_name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :family_Crest_Photo_URL %><br>
    <%= f.text_field :family_crest_url %>
  </p>

  <p>
    <%= f.label :realm %><br>
    <%= f.text_field :realm %>
  </p>

  <p>
    <%= f.label :history %><br>
    <%= f.text_area :history %>
  </p>

  <%= f.submit "Create" %>
<% end %>
