
<div class='houseInfo'>
<h1> <%= @house.name %></h1>

<p><img src="<%= @house[:family_crest_url] %>"></p>
<h2> House Realm </h2>
<p> <%= @house.realm %></p>
<h2> House History </h2>
<p><%= @house.history %></p>

<p> <%= link_to "Edit House", edit_house_path(@house), :class => 'showLink' if @house.user == current_user%></p>
</div>
<hr>
<h2> House Members </h2>

<% @characters.each do |character| %>
  <h4> <%= link_to character.name, house_character_path(@house,character), :class => 'showLink'%> </h4>
<%end%>
<p>
  <%= link_to "Add House Member", new_house_character_path(@house), :class => 'showLink' if current_user %>
</p>
